---
import Twitter from "./icons/Twitter.astro";
import Github from "./icons/Github.astro";
import Linkedin from "./icons/Linkedin.astro";
import Medium from "./icons/Medium.astro";
import { Image } from "astro:assets";
import auryoImage from "../assets/images/auryo.png";
// ...existing code...
interface InterviewCompany {
  name: string;
  url: string;
}

interface Interviews {
  imageUrl: string;
  name: string;
  company: InterviewCompany;
  summary: string;
  location: string;
  twitterUrl?: string;
  mediumUrl?: string;
  githubUrl?: string;
  linkedinUrl?: string;
}

const interviews: Array<Interviews> = [
  {
    imageUrl: auryoImage,
    name: "Auryo Jota",
    company: {
      name: "Writer and Editor",
      url: "",
    },
    summary:
      "From the title, the work is full of references. The region of Teresina, the capital of Piauí, is also known as Chapada do Corisco due to the strong thunderstorms and constant lightning strikes during storms... Concern with social issues is a central point in the work. Inequality, prejudice, invisible people (if no one sees them, they do not exist, they do not bother), the normalization of violence suffered by certain bodies.",
    location: "Teresina, Piauí",
    twitterUrl: "https://twitter.com/auryo_j",
    // mediumUrl: "https://medium.com/@auryoj",
  },
];
---

<div class="bg-white">
  <div class="max-w-screen-xl mx-auto pt-16 pb-4 px-4">
    <h2 class="text-3xl leading-9 font-extrabold text-gray-900">
      See the opinion of those who have already read ...
    </h2>
    <div class="mt-6 pt-10">
      {
        interviews.map((interview) => (
          <div class="flex-none sm:flex mb-12">
            <Image
              class="w-40 h-40 rounded-full object-cover"
              src={interview.imageUrl}
              alt={interview.name}
              width={320}
              height={320}
              format="webp"
              quality={90}
            />
            <div class="text-sm">
              <p class="text-2xl font-semibold text-gray-900">
                {interview.name}
              </p>
              <p class="text-xl">
                <a
                  class="underline text-book-gray hover:bg-book-yellow transition ease-in-out duration-300"
                  href={interview.company.url}
                  target="_blank"
                >
                  {interview.company.name}
                </a>
              </p>
              <p class="text-base text-gray-600 mb-1 font-body">
                {interview.summary}
              </p>
              <p class="text-sm italic text-gray-500  font-body">
                {interview.location}
              </p>
              <div class="flex flex-row my-2">
                {interview.githubUrl && (
                  <a
                    title="Github link"
                    href={interview.githubUrl}
                    target="_blank"
                  >
                    <Github />
                  </a>
                )}

                {interview.twitterUrl && (
                  <a
                    title="Twitter link"
                    href={interview.twitterUrl}
                    target="_blank"
                  >
                    <Twitter />
                  </a>
                )}

                {interview.linkedinUrl && (
                  <a
                    title="Linkedin link"
                    href={interview.linkedinUrl}
                    target="_blank"
                  >
                    <Linkedin />
                  </a>
                )}

                {interview.mediumUrl && (
                  <a
                    title="Medium link"
                    href={interview.mediumUrl}
                    target="_blank"
                  >
                    <Medium />
                  </a>
                )}
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>
