---
import Instagram from "./icons/Instagram.astro";
import Linkedin from "./icons/Linkedin.astro";
import Twitter from "./icons/Twitter.astro";
import { Image } from "astro:assets";

import { author } from "../config.json";
---

<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-16">
    <h2 class="text-5xl mb-8 font-semibold text-gray-900 px-4">
      About the<!-- -->&nbsp;<span class="underline">Author</span>
    </h2><div class="flex-none sm:flex">
      <div class="sm:flex-1 px-4">
        <Image
          class="mb-4 rounded-md"
          src={"/author-bw.webp"}
          width={500}
          height={500}
          alt={author.name}
          format={"avif"}
        />
      </div><div class="text-lg text-gray-600 sm:flex-1 px-4 font-body">
        <p
          class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl font-body"
        >
          Jane Phuong Nguyen is a seasoned IT engineer with a passion for
          technology and a gift for storytelling. As a YouTuber and writer, she
          has dedicated her career to sharing her knowledge and insights with a
          global audience.
        </p>
        <p
          class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl font-body"
        >
          Beyond her professional pursuits, Jane is a devoted mother of two, a
          compassionate volunteer, and an avid nature enthusiast. She loves
          exploring new places and spending time outdoors, reconnecting with the
          environment. Jane has a deep affection for all living creatures, no
          matter their size.
        </p>
        <p
          class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl font-body"
        >
          Above all, Jane dreams of a world filled with love, peace, and
          harmony. She hopes for a future where everyone can live together
          happily and respectfully.
        </p>
        <p class="text-sm italic text-gray-500">
          {author.location}
        </p><div class="flex flex-row my-2">
          <!-- <a title="Instagram link" href={author.instagramUrl} target="_blank"
            ><Instagram /></a
          >
          <a title="Twitter link" href={author.twitterUrl} target="_blank"
            ><Twitter /></a
          > -->
          <a title="LinkedIn link" href={author.linkedinUrl} target="_blank">
            <Linkedin />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
